.productImg {
  width: 150px;
  height: 300px;
}

.mat-header-row {
  visibility: hidden;
  min-height: 0;
}

.money {
  margin: auto 0;
  width: 150px;
  color: #FF0000;
  padding-left: 8px;
  display: inline-block;
}

.mat-card-title {
  height: 32px;
}

body {
  font-weight: normal;
}

.detail-wrapper {
  display: flex;
  width: 100%;
  height: 47px;
}

.detail {
  margin-top: 3px;
  float: right;
}

.mat-radio-button {
  display: block !important;
}

.search-field {
  display: inline-block;
  width: 57%;
  margin: 30px 108px -20px 0;
}

.category-field {
  display: inline-block;
}

.center-header {
  text-align: center;
}

.example-sidebar {
  padding: 40px;
  line-height: 40px;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 20px;
  font: 500 26px/32px Roboto,"Helvetica Neue",sans-serif;
}

.row-ex {
  width: 250px;
  display: inline-block !important;
  padding: 0 !important;
  margin: 20px 86px;
  border-bottom-style: none !important;
}
