<app-topmenu></app-topmenu>
<div class="mat-elevation-z8 inner-container">
  <div class="chart-block">
    <canvas #salesbar width="700" height="350"></canvas>
  </div>
  <div class="chart-block">
    <canvas #profitbar width="700" height="350"></canvas>
  </div>
  <div class="chart-block">
    <canvas #regiondonut width="700" height="350"></canvas>
  </div>
  <div class="chart-block">
    <canvas #categorybar width="700" height="350"></canvas>
  </div>
  <div class="chart-block">
    <canvas #businessbar width="700" height="350"></canvas>
  </div>
</div>
<app-footer></app-footer>
