.full {
    width: 100%;
    display: inline-block;
  }
  
  .half {
    width: 50%;
    display: inline-block;
  }
  
  table {
    border: 1px solid #000;
  }
  
  .container {
    position: relative;
  }
  
  .catalog {
    width: 170px;
    position: fixed;
    right: 2%;
    top: 96px;
  }
  
  .main {
    float: left;
    padding: 0px;
  }
  
  
  .subq {
    padding-left: 20px;
  }