<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">
    <div class="sidebar" fxFlex="80">
      <mat-card class="main">
        <div style="padding:24px">
          <mat-form-field class="search-field" style="width:100%">
            <input matInput [(ngModel)]="filter" placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <br><br>
          <form id="qForm" (ngSubmit)="onSubmit()" [formGroup]="form">
            <div *ngFor="let question of questions | highlight : filter; let i = index" [ngClass]="question.layout">
              <div *ngIf="checkGroup(i)">
                <br />
                <hr />
                <hr />
                <br />
              </div>
              <app-dynamic-form-question-view [question]="question" [form]="form"></app-dynamic-form-question-view>
            </div>
          </form>
          <div *ngIf="payLoad" class="form-row">
            <strong>Saved the following values</strong>
            <br>{{payLoad}}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="container" fxFlex="20">
      <mat-card class="catalog">
        <div *ngFor="let cat of catlogs">
          <button type="button" mat-button (click)="scroll(cat.href)">
            {{cat.label}}
          </button>
        </div>
      </mat-card>
    </div>
  
  
  
  </div>
  