/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  background-color: #EEEEEE;
}

.inner-container {
  background-color: #fafafa;
  width: 80% !important;
  margin: 0 auto;
  min-height: 1000px;
}

.mat-table {
  background-color: #fafafa !important;
}

.indent {
  padding: 0 100px;
}

/*
font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
*/
