/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/

//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: Antonio-Regular;
  src: url('/assets/fonts/Antonio/Antonio-Regular.ttf');
}

@import './theme.scss';
@import '~@ngx-gallery/core/styles/gallery';
@import '~@ngx-gallery/core/styles/lightbox';
body {
  margin: 0;
  font-family: Antonio-Regular, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 0.1mm;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  background-color: #EEEEEE;
  height: 100vh;
}

.inner-container {
  background-color: #fafafa;
  width: 80% !important;
  margin: 0 auto;
  min-height: 1000px;
}

.indent {
  padding: 0 100px;
}

/*
.mat-drawer {
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 240px;
}

.mat-drawer-container {
  height: calc(100vh - 144px);
}

.mat-drawer-content {
  margin-left: 240px;
}
*/

.container {
  height: calc(100vh - 144px);
}

.sidebar-top {
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-color: #e8eaf6;
  padding: 16px;
}

.w-64 {
  width: 64px;
  height: 64px;
}

.rounded,
.circle {
  border-radius: 500px;
}

.inline {
  display: inline-block;
}

.pos-rlt {
  position: relative;
  z-index: 1;
}

.bg-white {
  background-color: #fff;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.m-t-sm {
  margin-top: 8px;
}

.block {
  display: block;
}

.font-bold {
  font-weight: 700;
}

.pull-right {
  float: right !important;
}

.nav .nav-header {
  padding: 0 16px;
  line-height: 40px;
}

.m-v-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sidebar-patient {
  width: 100%;
}

.sidebar-icon {
  float: left;
  margin-top: 7px;
}

.content-wrapper {
  padding: 36px;
  height: 100%;
}

.content {
  overflow: overlay;
  height: 100%;
}

.scroll-wrapper {
  height: 100%;
  padding: 12px 24px;
}

th {
  text-align: left;
  color: rgba(0, 0, 0, .54);
  font-weight: 500;
}

.search-highlight {
  background: yellow;
}

a {
  color: black;
}

table {
  word-break: break-word;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

/*定义滚动条整体宽高及背景*/

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: transparent;
}

/*定义滑块,内阴影及圆角*/

::-webkit-scrollbar-thumb {
  height: 188px;
  border-radius: 10px;
  background-color: #888B8C;
}

/*定义滚动条的轨道,内阴影及圆角*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #C7C8CA;
}
