/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  background-color: #EEEEEE;
}

.inner-container {
  background-color: #fafafa;
  width: 80% !important;
  margin: 0 auto;
  min-height: 1000px;
}

.indent {
  padding: 0 100px;
}

/*
font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
*/

.mat-drawer {
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 240px;
}

.mat-drawer-container {
  min-height: 100vh;
}

.mat-drawer-content {
  margin-left: 240px;
}

.sidebar-top {
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-color: #e8eaf6;
  padding: 16px;
}

.w-64 {
  width: 64px;
  height: 64px;
}

.rounded,
.circle {
  border-radius: 500px;
}

.inline {
  display: inline-block;
}

.pos-rlt {
  position: relative;
  z-index: 1;
}

.bg-white {
  background-color: #fff;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.m-t-sm {
  margin-top: 8px;
}

.block {
  display: block;
}

.font-bold {
  font-weight: 700;
}

.pull-right {
  float: right !important;
}

.nav .nav-header {
  padding: 0 16px;
  line-height: 40px;
}

.m-v-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sidebar-patient {
  width: 100%;
}

.sidebar-icon {
  float: left;
  margin-top: 7px;
}

.content-wrapper {
  padding: 32px;
  min-height: 100vh;
}