@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**

$custom-typography: mat-typography-config(
  $font-family: 'Antonio-Regular, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif'
);

@include mat-core($custom-typography);

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);

$custom-primary: mat-palette($mat-light-blue);
$custom-accent: mat-palette($mat-light-blue);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

.custom-theme-1 {
  @include angular-material-theme($custom-theme);
}

$custom-primary-2: mat-palette($mat-green, 800);
$custom-accent-2: mat-palette($mat-green, 800);
$custom-warn-2: mat-palette($mat-red);

$custom-theme-2: mat-light-theme($custom-primary-2, $custom-accent-2, $custom-warn-2);

.custom-theme-2 {
  @include angular-material-theme($custom-theme-2);
}


$bv-brand: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    500: #59ADD3,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #1A4457,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$custom-primary-3: mat-palette($bv-brand, 900);
$custom-accent-3: mat-palette($bv-brand, 500);
$custom-warn-3: mat-palette($mat-red);

$custom-theme-3: mat-light-theme($custom-primary-3, $custom-accent-3, $custom-warn-3);

.custom-theme-3 {
  @include angular-material-theme($custom-theme-3);
}


