<app-topmenu></app-topmenu>
<div class="mat-elevation-z8 inner-container">
  <div class="add-button-wrapper">
    <button mat-raised-button color="primary" (click)="openAddProductDialog()">Add Product</button>
  </div>
  <div class="card-wrapper">
    <div class="card-frame" *ngFor="let product of products">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.author}}</mat-card-subtitle>
        </mat-card-header>
        <div class="mat-card-image-wrapper">
          <img mat-card-image width=300px height=375px [src]='sanitizer.bypassSecurityTrustUrl(product.image)'>
        </div>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <div class="text-inside-grid">Amount : </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="text-inside-grid">{{product.amount}}</div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="text-inside-grid">Price : </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="text-inside-grid">${{product.basic}} / ${{product.price}}</div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-actions class="center-button">
          <button mat-button (click)="update(product)">UPDATE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
