.card-frame {
  margin: 20px 60px;
  width: 300px;
  display: inline-block;
}

.card-wrapper {
  height: 100%;
  padding: 0 100px;
}

.mat-card-image-wrapper {
  margin-bottom: 20px;
  height: 375px;
  text-align: center;
}

.mat-card-image:first-child {
  margin-top: 0;
}

.mat-card-content {
  margin-left: 25px;
}

.mat-card-title {
  height: 32px;
}

.mat-card-subtitle {
  height: 32px;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}

.example-container {
  width: 100%;
  height: 900px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.add-button-wrapper {
  padding: 20px;
  margin-left: 139px;
}

.mat-card {
  font-weight: normal!important;
}

.center-button {
  text-align: center;
  margin: -10px;
}
