.background {
  background: #1A4457;
  width: 100%;
  min-height: 100%;
  display: flex;
}

.title {
  font-family: Antonio-Regular;
  color: #CEE8F3;
  font-size: 3.4em;
}

.sub-color {
  color: #59ADD3;
}

.sub-title {
  font-family: Antonio-Regular;
  font-size: 2.6em;
}

.login-form {
  padding: 20px 48px !important;
  width: 380px;
  border-radius: 20px !important;
  margin: auto;
  text-align: center;
}

.login-wrapper {
  margin: auto;
  background: #1A4457;
}

app-index {
  min-height: 100vh;
  display: flex;
}

.expand {
  line-height: 32px;
  width: 100%;
}

.login-button {
  margin: 10px 0 !important;
  line-height: 48px !important;
  font-size: 1.6em;
  width: 100%;
}

.link {
  color: #666;
}
