<div class="background">
<div class="login-wrapper {{global.theme}}">
  <a class="title">VISYT2.0: Electronic Healthcare Records</a>
  <mat-card class="login-form">
    <a class="login-title" class="sub-title sub-color">Please Login</a>
    <br />
    <mat-form-field class="expand">
      <input matInput [(ngModel)]="username" placeholder="Enter your username">
    </mat-form-field>
    <br />
    <mat-form-field class="expand">
      <input matInput [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix class="clickable" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" class="login-button" (click)="Login()">Login</button>
    <a class="link clickable">Forgot user name/password?</a>
    <br />
    <br />
    <button mat-button (click)="Register()">Create an Account</button>
  </mat-card>
</div>
</div>