<form [formGroup]="salesman_update_form" (ngSubmit)="UpdateSalesman()">
  <br>
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Enter your salesperson's name" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Enter password" [type]="hide2 ? 'password' : 'text'" required>
    <mat-error>This field is required</mat-error>
    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="confirm" placeholder="Re-Enter password" [type]="hide2 ? 'password' : 'text'" required>
    <mat-error>This field is required</mat-error>
    <mat-hint *ngIf="salesman_update_form.get('password').value!=salesman_update_form.get('confirm').value">
      Password does not match.
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="street" placeholder="Enter your address(street)" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class="one-third">
    <input matInput formControlName="city" placeholder="City" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class="one-third">
    <input matInput formControlName="state" placeholder="State" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class="one-third">
    <input matInput formControlName="zipcode" placeholder="Zip code" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Enter email address" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class="half">
    <input matInput formControlName="job" placeholder="Enter job title" required>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field class="half">
    <input matInput formControlName="salary" placeholder="Enter salary" required>
    <span matPrefix>$&nbsp;</span>
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <div class="salesman-button-wrapper">
    <button mat-raised-button color="primary" type="submit" [disabled]="( !salesman_update_form.valid || !salesman_update_form.dirty || salesman_update_form.get('password').value!=salesman_update_form.get('confirm').value )">Update</button>
  </div>
</form>
