<app-topmenu></app-topmenu>
<div class="example-container mat-elevation-z8 inner-container">
  <div class="admin-title">Book Category Management</div>
  <div class="half">
    <mat-table #table1 [dataSource]="dataSourceKind">
      <ng-container matColumnDef="kindid">
        <mat-header-cell *matHeaderCellDef> Book Category ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="kindname">
        <mat-header-cell *matHeaderCellDef> Book Category Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Operations </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="deleteKind(element.id)">
          Delete
        </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
    </mat-table>
  </div>
  <div class="half">
    <div class="admin-form-wrapper">
      <mat-card class="example-card admin-form-card">
        <mat-card-header class="header-wrapper">
          <mat-card-title class="center-header">Add Category</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="right-form-input">
            <input matInput [(ngModel)]="kind_add" placeholder="Enter your book category name">
          </mat-form-field>
          <br>
          <br>
          <button class="right-form-button" mat-raised-button color="primary" (click)="addKind()">Add</button>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <div class="admin-title">Region Management</div>
  <div class="half">
    <mat-table #table1 [dataSource]="dataSourceRegion">
      <ng-container matColumnDef="regionid">
        <mat-header-cell *matHeaderCellDef> Region ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="regionname">
        <mat-header-cell *matHeaderCellDef> Region Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="managername">
        <mat-header-cell *matHeaderCellDef> Region Manager Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.manager}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Operations </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="deleteRegion(element.id)">
          Delete
        </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    </mat-table>
  </div>
  <div class="half">
    <div class="admin-form-wrapper">
      <mat-card class="example-card admin-form-card">
        <mat-card-header class="header-wrapper">
          <mat-card-title class="center-header">Add Region</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="right-form-input">
            <input matInput [(ngModel)]="region_add" placeholder="Enter your region name">
          </mat-form-field>
          <mat-form-field class="right-form-input">
            <input matInput [(ngModel)]="region_manager" placeholder="Enter your region manager name">
          </mat-form-field>
          <br>
          <br>
          <button class="right-form-button" mat-raised-button color="primary" (click)="addRegion()">Add</button>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <div class="admin-title">Company Category Management</div>
  <div class="half">
    <mat-table #table1 [dataSource]="dataSourceCategory">
      <ng-container matColumnDef="categoryid">
        <mat-header-cell *matHeaderCellDef> Company Category ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="categoryname">
        <mat-header-cell *matHeaderCellDef> Company Category Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Operations </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="deleteCategory(element.id)">
          Delete
        </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
    </mat-table>
  </div>
  <div class="half">
    <div class="admin-form-wrapper">
      <mat-card class="example-card admin-form-card">
        <mat-card-header class="header-wrapper">
          <mat-card-title class="center-header">Add Category</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="right-form-input">
            <input matInput [(ngModel)]="category_add" placeholder="Enter your company category name">
          </mat-form-field>
          <br>
          <br>
          <button class="right-form-button" mat-raised-button color="primary" (click)="addCategory()">Add</button>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
