.half {
  width: 45%;
  margin: 0 25px;
  display: inline-block;
}

.right-form-input {
  display: inline-block;
  width: 100%;
}

.right-form-button {
  display: inline-block;
}

.admin-form-card {
  text-align: center;
  width: 250px;
  margin: auto;
}

.admin-form-wrapper {}

.center-header {
  text-align: center;
}

.header-wrapper {
  display: block !important;
  width: 100%;
}

.admin-title {
  font: 500 26px/32px Roboto,"Helvetica Neue",sans-serif;
  padding: 20px;
  text-align: center;
}
