.image-container {
  width: 75%;
  display: inline-block;
  margin-left: 25px;
}

.mat-form-field {
  width: 100%;
}

.one-third {
  width: 32%;
}

.half {
  width: 48%;
}

.attach {
  float: left;
}

.center {
  text-align: center;
}

.half-wrapper{
  float:left;
  width:45%;
  height:480px;
  margin:0px 10px;
}
