.admin-card {
  width: 250px;
  margin: auto;
  text-align: center;
}

.admin-wrapper {
  width: 100%;
  min-height: 1080px;
  display: flex;
}

.center-header {
  text-align: center;
}

.header-wrapper {
  display: block !important;
  width: 100%;
}

.full {
  width: 100%;
}
