.patient-list-card {
  width: 100%;
  padding: 20px 50px !important;
}

.icon-fix {
  // text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2), 2px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  vertical-align: middle;
}

a {
  color: black !important;
}

.card-header {
  justify-content: space-between;
}

.card-title {
  font-family: Antonio-Regular;
  font-size: 1.6em;
  width: 100%;
  margin: auto;
}

.no-flex {
  width: 50px;
  flex: none;
}

.display-flex {
  display: flex;
}

.table-header {
  font-family: Antonio-Regular;
  font-weight: bold;
  font-size: 1.2em;
}

.avatar {
  margin: auto;
  height: 50px;
  width: 50px;
}

.float-left {
  float: left;
}
