.grid-item {
  border: solid 1px #ccc;
}

.handle {
  width: 100%;
  height: 50px;
  color: black;
  font-weight: 500;
  box-sizing: border-box;
}

.btn {
  margin-left: 10px;
}

.box-header-btns {
  top: 30px;
  right: 30px;
  cursor: pointer;
  position: absolute;
}

.navbar-default {
  background: black;
  border: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

body {
  background-color: #f5f2f2;
}

.search-field {
  width: 80%;
}

.patient-list {
  margin: 5px 15px;
}

.avatar {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

.dashboard-card {
  height: 100%;
  padding: 0;
}

.inner {
  // padding: 24px;
  border-bottom: 1px solid;
  margin: 0 30px;
}

.center {
  text-align: center;
}

.formTable {
  width: 100%;
  line-height: 50px;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.mat-card {
  padding: 0 !important;
}

.expand-button {
  width: 100%;
  height: 45px;
  font-size: 1.2em;
  margin-top: 20px !important;
}

.mat-card-title {
  font-size: 20px !important;
}

.full {
  width: 100%;
  display: inline-block;
}

.half {
  width: 50%;
  display: inline-block;
}

.third {
  width: 33%;
  display: inline-block;
}

.center-avatar {
  margin: auto;
  text-align: center;
}

.fix-form-card {
  margin-bottom: 10px; // padding: 30px !important;
}

.t1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.subq {
  padding-left: 20px;
}

.gallery-item {
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 10px;
  height: 100px;
  cursor: pointer;
}

.grid-fix {
  border: none;
}

.sidebar-left {
  width: 50%;
  float: left;
}

.sidebar-right {
  padding: 5%;
  width: 40%;
  float: right;
}

.sidebar-wrapper {
  padding: 0 30px;
}

.sidebar-title {
  margin-left: 10px;
  font-size: 2.6em;
  color: #5B5D5F;
}

.right {
  text-align: right;
}

.flip-wrapper {
  margin: auto 0 !important;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  /*IE*/
  filter: FlipH;
}

.sidebar-icon {
  font-size: 42px;
  width: 42px !important;
  height: 42px !important;
  color: #5B5D5F;
}

.search-wrapper {
  width: 100%;
  text-align: center;
}

.transparent {
  background: transparent !important; // box-shadow: none !important;
}
