<div class="{{global.theme}}">
  <app-topmenu></app-topmenu>
  <!--
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened="true">
      <div class="patient-list">
        <hr>
        <button mat-raised-button color="primary" class="expand-button" (click)="addBox()">
          <mat-icon matPrefix>add_box</mat-icon>&nbsp;&nbsp;Add Box
        </button>
        <hr>
        <button mat-raised-button color="primary" class="expand-button" (click)="router.navigate(['doctor/newform'])">
          <mat-icon matPrefix>add_circle</mat-icon>&nbsp;&nbsp;Add New Form
        </button>
        <hr>
      </div>
    </mat-drawer>
    <mat-drawer-content >
      -->
  <div class="container" fxLayout="row">
    <div fxFlex="25" class="content-wrapper">
      <div class="sidebar-wrapper">
        <div style="display:flex; margin-bottom: 10px;">
          <button mat-icon-button class="flip-wrapper">
            <mat-icon class="sidebar-icon" (click)="router.navigate(['doctor/']);">play_circle_outline</mat-icon>
          </button>
          <a class="sidebar-title">Patient Details</a>
        </div>
        <div class="sidebar-left">
          <div style="position: relative;">
            <input type="file" id="browse" size="1" class="input-file clickable" (change)="uploadAvatar($event)" />
            <img *ngIf="patient.avatar!==''" [src]="global.server+patient.avatar" width="100%" height="auto" alt="" class="img">
            <img *ngIf="patient.avatar===''" src="/assets/avatars/blank.jpg" width="100%" height="auto" alt="" class="img">
          </div>
        </div>
        <div class="sidebar-right">
          <a style="font-size:1.6em;line-height: 2em;">{{patient.name}}</a>
          <br />
          <!--
          <a style="font-size:1.2em;line-height: 2em;">{{patient.status}}</a>
          <br />-->
          <div style="display:flex;font-size:1.2em;line-height: 2em;">
            <div *ngIf="patient.status===1" style="margin:auto 0; display:flex;">?&nbsp;?&nbsp;&nbsp;
              <mat-icon class="icon-fix" style="margin:auto; color:#FFEB3B">warning</mat-icon>
            </div>
            <div *ngIf="patient.status===2" style="margin:auto 0; display:flex;">D2&nbsp;
              <mat-icon class="icon-fix" style="margin:auto; color:#FFEB3B">info</mat-icon>
            </div>
            <div *ngIf="patient.status===3" style="margin:auto 0; display:flex;">D1&nbsp;
              <mat-icon class="icon-fix" style="margin:auto; color:#F44336">warning</mat-icon>
            </div>
          </div>
          <a style="font-size:1.2em;line-height: 2em;">{{patient.number}}</a>
          <br />

          <a style="font-size:1.2em;line-height: 2em;">{{patient.birthday}}</a>
          <br />
        </div>
        <div>
          <button mat-raised-button color="primary" class="expand-button" (click)="router.navigate(['doctor/newform'])">
            Add New Form&nbsp;&nbsp;
            <mat-icon matSuffix>add_circle_outline</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="expand-button" (click)="addBox()">
            &nbsp;Add New Box&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon matSuffix>add_circle_outline</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="expand-button" (click)="deletePatient()">
            Delete Patient&nbsp;&nbsp;&nbsp;
            <mat-icon matSuffix>remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="75" class="content-wrapper">
      <div class="scroll-wrapper" [ngStyle]="{'background': global.lightColor}">
        <div class="content">
          <!--<button mat-raised-button color="primary" (click)="router.navigate(['doctor/']);">Patient List</button>-->
          <br />
          <div class="search-wrapper">
            <mat-form-field class="search-field">
              <input matInput [(ngModel)]="filter" placeholder="Search" (keyup)="filterSort()">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div [ngGrid]="gridConfig">
            <!--
          <div *ngFor="let box of boxes | highlightbox : filter; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)"
            (onResize)="onResize(i, $event)">-->
            <div *ngFor="let box of newboxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize(i, $event)"
              id="{{'b'+box.id}}" class="grid-fix">
              <mat-card class="transparent dashboard-card ">
                <div class="inner">
                  <mat-card-header>
                    <div class="handle">
                      <a class="t1" [ngStyle]="{'color': global.primaryColor}">{{box.title}}</a>
                      <!--
                    <div class="box-header-btns pull-right">
                      <a title="Remove widget" (click)="removeWidget(i);" style="display: block">
                        <mat-icon color="primary">delete</mat-icon>
                      </a>
                    </div>
                  -->
                    </div>
                  </mat-card-header>
                  <mat-card-content>
                    <div [ngSwitch]="box.widgetType">
                      <div *ngSwitchCase="'info-form'">
                        <mat-card *ngFor="let group of questions[box.content]; let g = index" class=" transparent fix-form-card ">
                          <!--
                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">
                          <div *ngIf='g === 0' fxFlex="30" class="center-avatar">
                            <img [src]="global.patientAvator" width="200" height="auto" alt="" class="img">
                          </div>

                          <form id="qForm" fxFlex="grow" (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div *ngFor="let question of group | highlight : filter; let i = index" [ngClass]="question.layout">
                              <app-dynamic-form-question-view [question]="question" [form]="form"></app-dynamic-form-question-view>
                            </div>
                          </form>
                        </div>
                      -->
                          <form id="qForm" (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div *ngFor="let question of group | highlight : filter; let i = index" [ngClass]="question.layout">
                              <app-dynamic-form-question-view [question]="question" [form]="form"></app-dynamic-form-question-view>
                            </div>
                          </form>
                        </mat-card>
                        <div *ngIf="box.editable" class="right">
                          <button mat-raised-button color="primary" class="box-button" (click)="router.navigate(['doctor/form/', { id: box.content+100, search: filter }])">Edit Form</button>
                        </div>
                      </div>
                      <div *ngSwitchCase="'pregnancy-form'">
                        <mat-card *ngFor="let group of questions[box.content]; let g = index" class="transparent fix-form-card ">
                          <form id="qForm" fxFlex="grow" (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div *ngFor="let question of group| highlight : filter; let i = index" [ngClass]="question.layout">
                              <app-dynamic-form-question-view [question]="question" [form]="form"></app-dynamic-form-question-view>
                            </div>
                          </form>
                        </mat-card>
                        <div *ngIf="box.editable" class="right">
                          <button mat-raised-button color="primary" class="box-button" (click)="router.navigate(['doctor/form/', { id: box.content+100, search: filter }])">Edit Form</button>
                        </div>
                      </div>
                      <div *ngSwitchCase="'information'">
                        <mat-grid-list cols="3" rowHeight="150px">
                          <mat-grid-tile colspan="1">
                            <img [src]="global.patientAvator" width="60" height="60" alt="" class="img">
                          </mat-grid-tile>
                          <mat-grid-tile colspan="2">
                            <table style="width:80%">
                              <tr *ngFor="let info of box.content">
                                <td [innerHTML]="info.label"></td>
                                <td [innerHTML]="info.value"></td>
                              </tr>
                            </table>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </div>
                      <div *ngSwitchCase="'chart'">
                        <!--<canvas #line height="100"></canvas>-->
                        <canvas baseChart height="100" [datasets]="box.content.datasets" [labels]="box.content.labels" [colors]="box.content.colors"
                          [options]="box.content.options" [legend]="box.content.legends" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                      <div *ngSwitchCase="'form-list'">
                        <table class="formTable">
                          <tr>
                            <th style="padding-left:20px">Type</th>
                            <th style="padding-left:20px">Date</th>
                            <th style="padding-left:20px">Operation</th>
                          </tr>

                          <tr *ngFor="let form of box.content">
                            <td *ngIf="form.show" style="padding-left:20px">{{form.type}}</td>
                            <td *ngIf="form.show" style="padding-left:20px">{{form.date}}</td>
                            <td *ngIf="form.show" style="padding-left:20px">
                              <button mat-raised-button color="primary" (click)="router.navigate(['doctor/form/', { id: form.form, search: filter }])">View</button>
                            </td>
                          </tr>
                        </table>
                        <br />
                      </div>
                      <div *ngSwitchCase="'media'">
                        <div class="media-table-wrapper">
                          <table class="media-table" border="1">
                            <tr>
                              <th>Media</th>
                              <th>Description</th>
                              <th>Operation</th>
                            </tr>
                            <tr *ngFor="let item of box.content.gallery; let i = index">
                              <td width="300px" class="center">
                                <img class="gallery-thumbnail clickable" [src]="item.src.data.thumbSrc" (click)="lightbox.open(i)">
                              </td>
                              <td>{{item.desc}}</td>
                              <td width="120px" class="center">
                                <button mat-raised-button color="primary" class="box-button" (click)="deletePicAndVideo(box.id, item.rawsrc,item.rawthumb)">Delete</button>
                              </td>
                            </tr>
                            <tr *ngFor="let audio of box.content.audios">
                              <td width="300px">
                                <audio class="vertical-center audio" controls>
                                  <source [src]="audio.src" type="audio/mpeg">
                                  <source [src]="audio.src" type="audio/wav"> Your browser does not support the audio element.
                                </audio>
                              </td>
                              <td>{{audio.desc}}</td>
                              <td width="120px" class="center">
                                <button mat-raised-button color="primary" class="box-button" (click)="deleteAudio(box.id, audio.rawsrc)">Delete</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <br />
                        <div *ngIf="box.editable" class="right">
                          <button mat-raised-button color="primary" class="box-button" (click)="uploadGallery(box.id)">Upload</button>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--</div>
    </mat-drawer-content>
  </mat-drawer-container>-->
  </div>
