h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

.left-column {
  width: 300px;
  font-size: 16px;
  font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
  display: inline-block;
}

.right-column {
  width: 730px;
  font-size: 16px;
  line-height: 20px;
  font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
  float: right;
}

.detailImg {
  width: 100%;
}

.buy-area {
  height: 50px;
}

.buy-button {
  margin-left: 10px;
  display: inline-block;
}

.quantity-input {
  display: inline-block;
  padding-left: 10px;
}

.money-cal {
  color: #FF0000;
  padding: 0 10px 0 35px;
  display: inline-block;
}

.detailInfo {
  width: 45%;
  padding: 10px 0 0 10px;
  display: inline-block;
}

.detailInfo-wrapper {
  width: 100%;
}

.storename {
  width: 45%;
}
