<!DOCTYPE html>
<html class="gr__wangwang_taobao_com">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="spm-id" content="a21e4">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <style>
    body {
      font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
    }
  </style>
</head>

<body data-spm="8028256" data-gr-c-s-loaded="true">
  <div class="index-page">
    <div class="banner">
      <div class="slide slide1">
        <div class="bg-wrapper" id="J_bgWrapper1">
          <div class="bg" id="J_bg1"></div>
          <div class="mask"></div>
        </div>
        <div class="content-wrapper">
          <div class="content-inner">
            <div class="title"></div>
            <div class="description">Already have an account?</div>
            <div class="products">
              <a class="product product-wangwang" (click)="openLoginDialog()">
                <div class="icon"></div>
                <div class="name" style="margin-top:-15px;margin-bottom:35px;">Sign in</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide slide2">
        <div class="bg-wrapper" id="J_bgWrapper2">
          <div class="bg" id="J_bg2"></div>
          <div class="mask"></div>
        </div>
        <div class="content-wrapper">
          <a class="content-inner" (click)="openRegisterDialog()">
            <div class="title"></div>
            <div class="description">Don't have an account?</div>
            <ul class="products">
              <li class="product product-qianniu">
                <div class="icon"></div>
                <div class="name" style="margin-top:-15px;margin-bottom:35px;">Sign up</div>
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
