.inline {
    display: inline-block;
  }
  
  .block {
    display: block;
  }
  
  .twoColumn {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  
  table,
  table tr th,
  table tr td {
    border: 1px solid;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-left {
    overflow: hidden;
  }
  
  .table-key {
    float: left;
  }
  
  .table-question {
    margin-left: 30px;
  }
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    width: 100px;
    height: 15px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #fff;
    border: none;
    color: rgb(252, 6, 6);
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin: 0;
    z-index: 1000;
  }
  
  .option-input:hover {
    //background: #9faab7;
  }
  
  .option-input:checked {
    background: #fff;
  }
  
  .option-input:checked::before {
    width: 100%;
    height: 15px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
  }
  
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  
  .bottom-line {
    border-bottom: 1px solid #000;
  }
  
  .half {
    width: 50%;
  }
  
  .full {
    width: 100%;
  }
  
  .bottom-align {
    vertical-align: bottom;
  }
  
  input {
    border: none;
    border-bottom: 1px solid #000;
  }
  
  .form-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  td {
    padding: 10px;
  }
  
  .right-push {
    margin-right: 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .font-italic {
    font-style: italic;
  }
  
  .table-comments {
    border: none;
    width: 100%;
  }
  