<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row class="banner">
    <span class="clickable banner-title" (click)="router.navigate(['users']);">VISYT2.0: Electronic Healthcare Records</span>
    <div class="fixed-spacer"></div>
    <div class="flex-spacer"></div>
    <div class="account">
      <div>
        <span>Welcome, {{global.username}}</span>
      </div>
      <span class="float-right clickable" (click)="Logout()">Logout</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
