.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fixed-spacer {
  width: 53px;
}

.banner-title {
  font-family: Antonio-Regular;
  font-size: 2.1em;
}

mat-toolbar-row {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 3;
}

.banner {
  height: 144px !important;
  padding: 0 30px;
  color:#CEE8F3;
}

.pull-left {
  margin-right: 26px;
}

.float-right {
  float: right;
}
