<mat-tab-group class="demo-tab-group">
  <mat-tab label="Customer">
    <div class="demo-tab-content small-login">
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="customer_username" placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="customer_password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="customerLogin()">Login</button>
    </div>
  </mat-tab>
  <mat-tab label="Store">
    <div class="demo-tab-content small-login">
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="store_username" placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="store_password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="storeLogin()">Login</button>
    </div>
  </mat-tab>
  <mat-tab label="Salesperson">
    <div class="demo-tab-content small-login">
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="salesman_username" placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="salesman_password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="salesmanLogin()">Login</button>
    </div>
  </mat-tab>
</mat-tab-group>
