<div class="container">
  <mat-card class="catalog">
    <div *ngFor="let cat of catlogs">
        <button type="button" mat-button (click)="scroll(cat.href)">
            {{cat.label}}
          </button>
    </div>
  </mat-card>
  <mat-card class="main">
    <div>
        <input matInput [(ngModel)]="filter" placeholder="Search">
      <form id="qForm" (ngSubmit)="onSubmit()" [formGroup]="form">
        <!--
      <div *ngFor="let question of questions; index+1 as i" [ngClass]="question.layout">
          {{i}}
        <app-question [question]="question" [form]="form"></app-question>
      </div>
    -->
        <div *ngFor="let question of questions | highlight : filter; let i = index" [ngClass]="question.layout">
          <div *ngIf="checkGroup(i)">
            <br />
            <hr />
            <hr />
            <br />
          </div>
          <app-dynamic-form-question-view [question]="question" [form]="form"></app-dynamic-form-question-view>
        </div>
        <!--
    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  -->
      </form>
      <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong>
        <br>{{payLoad}}
      </div>
    </div>
  </mat-card>

</div>
