.full {
  width: 100%;
  display: inline-block;
}

.half {
  width: 50%;
  display: inline-block;
}

.third {
  width: 33%;
  display: inline-block;
}

table {
  border: 1px solid #000;
}

.container {
  position: relative;
}

.catalog {
  width: 170px;
  position: fixed;
  right: 2%;
  top: 243px;
}

.main {
  float: left;
  padding: 0px;
  width: 100%;
}


.subq {
  padding-left: 20px;
}