<div class="{{global.theme}}">
<app-topmenu></app-topmenu>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
    <div class="sidebar-top">
      <div class="rounded w-64 bg-white inline pos-rlt">
        <img src="/assets/images/a0.jpg" class="img-responsive rounded">
      </div>
      <a class="block m-t-sm">
        <span class="block font-bold">John Smith</span>
        <span class="pull-right auto">
          <i class="fa inline fa-caret-down"></i>
          <i class="fa none fa-caret-up"></i>
        </span>
        john.smith@gmail.com
      </a>
    </div>

    <div class="sidebar-content">
      <button mat-button class="sidebar-patient" (click)="drawer.toggle()">
        <mat-icon matPrefix class="sidebar-icon">people</mat-icon>
        Patient Lists
      </button>
      <button type="button" mat-button class="sidebar-patient" (click)="drawer.toggle()">
        <mat-icon matPrefix class="sidebar-icon">person</mat-icon>
        Patient 1
      </button>
      <button type="button" mat-button class="sidebar-patient" (click)="drawer.toggle()">
        <mat-icon matPrefix class="sidebar-icon">person</mat-icon>
        Patient 2
      </button>
      <button type="button" mat-button class="sidebar-patient" (click)="drawer.toggle()">
        <mat-icon matPrefix class="sidebar-icon">person</mat-icon>
        Patient 3
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content-wrapper">
      <button mat-raised-button color="primary" (click)="router.navigate(['doctor/dashboard']);">Back</button>
      <button mat-raised-button color="primary" (click)="router.navigate(['doctor/newform']);">Add New Form</button>
      <br />
      <br />
      <app-dynamic-form [questions]="questions" [filter]=filter></app-dynamic-form>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
</div>